<h1>SIGN UP</h1>
<div>
<%= form_for @user, :html => {:multipart => true} do |form| %>
	<div>
	<%= form.label :username %></br>
	<%= form.text_field :username %>
	</div>

	<div>
	<%= form.label :email %></br>
  	<%= form.text_field :email, type: 'email' %>
  	</div>

  	<div>
  	<%= form.label :password %></br>
  	<%= form.password_field :password %>
  	</div>

    <div>
    <%= form.file_field :image %></br>
    </div>
  	
  	<%= form.submit "Sign up" %>

<% end %>
</div>
